.hint {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	box-sizing: border-box;
	color: white;
	display: none;
	font-family: sans-serif;
	font-size: 0.7rem;
	padding: 6px 8px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
}

.hint._shown {
	display: inline-block;
}

.hint._not-centered {
	transform: none;
}
