:focus {
	box-shadow: 0 0 0 4px lightblue;
}

/*:invalid {*/
/*	box-shadow: none;*/
/*	outline: 0;*/
/*}*/

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
	appearance: none;
	height: 40px;
	line-height: 40px;
}

label {
	display: inline-block;
}

/*input:invalid,*/
/*select:invalid,*/
/*textarea:invalid {*/
/*	outline: none;*/
/*}*/

input[aria-invalid=true],
select[aria-invalid=true],
textarea[aria-invalid=true] {
	border-color: red;
}

.form {
	position: relative;
}

.form[aria-busy=true]::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
}

.form__error {
	padding: 4px 8px;
	background-color: red;
	color: white;
}

.field { /* consider bettre naming - field-group, because it could be groups of radios and checkboxes*/
	margin: 16px 0;
}

.field__label {
	min-width: 140px;
}

.field__error {
	max-width: 200px;
	margin-top: 4px;
	padding: 4px 8px;
	background-color: red;
	color: white;
	border-radius: 4px;
}

fieldset[disabled] .field__error,
input[disabled] + .field__error {
	display: none;
}

.field__label abbr {
	color: red;
	text-decoration: none;
}

.field__caption {
	color: #666;
}

.field-list {
	display: flex;
}

.field-list .field {
	margin-right: 10px;
}

.field-set {
	display: flex;
}

.field-set legend {
	display: block;
	max-width: 40%;
}

/* checkbox */

.checkbox {
	display: inline-flex;
}

.checkbox__label {
	display: block;
}

/* radio */

.radio {
	display: inline-flex;
}

.radio__label {
	display: block;
}

/* Password mask button */

.button-unmask {
	appearance: none;
	border: none;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background-color: #eee;
}

.button-unmask[aria-pressed=true] {
	color: blue;
}

.button-unmask[aria-pressed=true] .button-unmask__line {
	display: none;
}
