:focus {
	box-shadow: 0 0 0 4px lightblue;
}

/*:invalid {*/
/*	box-shadow: none;*/
/*	outline: 0;*/
/*}*/

input[type=text],
input[type=password] {
	appearance: none;
	height: 40px;
	line-height: 40px;
}

.form {
	position: relative;
}

.form label {
	display: inline-block;
}

.form[aria-busy=true]::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
}

.form__error {
	padding: 4px 8px;
	background-color: red;
	color: white;
}

.field { /* consider bettre naming - field-group, because it could be groups of radios and checkboxes*/
	margin: 16px 0;
}

.field__error {
	max-width: 200px;
	margin-top: 4px;
	padding: 4px 8px;
	background-color: red;
	color: white;
}

.field-list {
	display: flex;
}

.field-list .field {
	margin-right: 10px;
}

.field-set {
	display: flex;
}

.field-set legend {
	display: block;
	max-width: 40%;
}

/* radio */

.radio {
	display: flex;
}

.radio__label {
	display: block;
}

/* Password mask button */

.button-unmask {
	appearance: none;
	border: none;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background-color: #eee;
}

.button-unmask[aria-pressed=true] {
	color: blue;
}

.button-unmask[aria-pressed=true] .button-unmask__line {
	display: none;
}
