input[type=text] {
	appearance: none;
	height: 40px;
	line-height: 40px;
}

.form-section {
	margin: 16px 0;
}

.form-section__error {
	max-width: 200px;
	margin-top: 4px;
	padding: 4px 8px;
	background-color: red;
	color: white;
}
