.spinbutton {
	display: flex;
	user-select: none;
}

.spinbutton__button {
	background-color: #eee;
	cursor: pointer;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
}
