.plp {
	display: flex;
	width: 600px;
}

.plp__main {
	width: 100%;
}

.plp__aside {
	width: 200px;
}

.plp__grid {
	align-items: stretch;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: stretch;
}

.plp__grid-footer {
	grid-column: 1 / 4;
}

.load-more {
	display: block;
	margin: auto;
	width: 100px;
}

.product-tile {
	width: 100%;
	padding-bottom: 100%;
	background-color: lightgrey;
}

.wishlist-button {
	background-color: transparent;
	border: none;
	width: 20px;
	height: 20px;
	color: transparent;
	text-align: center;
	padding: 0;
}

.wishlist-button svg {
	pointer-events: none;
}

.wishlist-button[aria-pressed=true] {
	color: black;
}

.wishlist-icon {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: grey;
}

.wishlist-icon div {
	position: absolute;
	height: 14px;
	min-width: 14px;
	color: white;
	background-color: red;
	border-radius: 14px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	top: 0;
	right: -7px;
}
