<html>
<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./css/focus-highlighter.css"/>
	<script async type="module" src="../../../initiator.js"></script>
	<title>Focus highlighter example</title>
</head>
<body>
	<h1>Foucs highlighter</h1>

	<p>Use <kbd>Tab</kbd> to go over focusable elements</p>

	<p>Lorem ipsum <a href="#some">Some link</a></p>
	<form action="">
		<input type="text">
		<br>
		<input type="number">
		<br>
		<input type="password">
		<br>
		<input type="file">
		<br>

		<br>
		<textarea name="some" id="" cols="30" rows="5"></textarea>
		<br>
		<button>Submit</button>
		<br>
		<input type="submit">
	</form>

	<div tabindex="0">
		Some custom focusable element
	</div>

	<button>Some button</button>

	<div
		class="b-highlighter"
		data-component="./a11y/FocusHighlighter/FocusHighlighter"
	></div>
</body>
</html>
