[aria-hidden="true"] {
	display: none;
}

.b-notifier {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	max-width: 300px;
	margin: 0 auto;
}

.b-notification {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	animation: slideInFade ease 0.6s;
	transition: ease 0.6s;
	transition-property: opacity, transform;
	overflow: hidden;
	text-align: center;
}

.b-notification.m-removing {
	transform: translateY(40px);
	opacity: 0;
}

@keyframes slideInFade {
	0% {
		max-height: 0;
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		max-height: 20px;
		transform: translateY(0);
		opacity: 1;
	}
}
