body {
	margin: 50px 20px;
}

@media screen and (max-width: 1024px) {
	body {
		margin: 20px;
	}
}

:focus,
button:focus {
	box-shadow: 0 0 0 1px hsl(200, 100%, 50%), 0 0 0 4px hsla(200, 100%, 79%, 0.5);
	outline: none;
}

button::-moz-focus-inner {
	border: none;
	padding: 0;
}

button:-moz-focusring {
	outline: none !important;
}
