body {
	margin: 50px 100px;
}

@media screen and (max-width: 1024px) {
	body {
		margin: 20px;
	}
}

:focus {
	box-shadow: 0 0 0 1px blue, 0 0 0 4px lightblue;
}

button:focus {
	box-shadow: 0 0 0 1px blue, 0 0 0 4px lightblue;
}

button::-moz-focus-inner {
	border: none;
	padding: 0;
}

button:-moz-focusring {
	outline: none !important;
}

/* Slider */

.slider {
	background-color: #ccc;
	position: relative;
}

.slider__content {
	display: block;
	overflow-x: auto;
	padding-bottom: 80vh;
	position: relative;
}

.slider._initialized .slider__content {
	overflow: hidden;
}

.slider__content._grabbing {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
	user-select: none;
}

.slider__content._grabbing::before {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* Slide */

.slider__slide {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.slider._initialized .slider__slide {
	opacity: 0;
	transition: ease-in-out 0.7s;
	transition-property: opacity, visibility, transform;
	visibility: hidden;
	z-index: 0;
}

.slider._initialized .slider__slide._current {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
	z-index: 1;
}

.slider__slide._prev {
	transform: translateX(-100%);
}

.slider__slide._next {
	transform: translateX(100%);
}

/* Buttons */

.slider__ctrl {
	background-color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	display: none;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	top: 50%;
	user-select: none;
	width: 40px;

	z-index: 2;
}

.slider._initialized .slider__ctrl {
	display: block;
}

.slider__ctrl[disabled] {
	color: grey;
}

.slider__ctrl._prev {
	left: -20px;
}

.slider__ctrl._next {
	right: -20px;
}

/* Play / Pause */

.slider__autoplay-toggle {
	background: transparent;
	border: none;
	border-radius: 5px;
}

.slider__autoplay-toggle .pause {
	stroke-width: 4;
}

.slider__autoplay-toggle .pause,
.slider__autoplay-toggle .play {
	fill: transparent;
}

.slider__autoplay-toggle[aria-pressed=false] .pause,
.slider__autoplay-toggle[aria-pressed=true] .play {
	fill: black;
	stroke: black;
}

/* pagination */

.slider__pagination {
	bottom: 0;
	display: none;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 2;
}

.slider._initialized .slider__pagination {
	display: flex;
}

.dots {
	margin: 3px 0;
}

.dot {
	fill: transparent;
	stroke: transparent;
}

.slider._autoplay .dot._current {
	animation: progress linear;
	stroke: deepskyblue;
}

.slider._paused .dot._current {
	animation: progress linear;
	animation-play-state: paused;
	stroke: deepskyblue;
}

.dot__point {
	fill: lightgray;
	stroke: transparent;
}

.dot__circle {
	stroke-linecap: round;
	stroke-width: 1;
}

.dot._current .dot__point {
	fill: black;
}

@keyframes progress {
	from {
		stroke-dashoffset: 12.56;
	}

	to {
		stroke-dashoffset: 0;
	}
}

/* content and variations */

.box {
	align-items: center;
	color: white;
	display: flex;
	font-size: 5rem;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.box._v-1 {
	background: hsl(0, 0%, 93%);
}

.box._v-2 {
	background: hsl(0, 0%, 87%);
}

.box._v-3 {
	background: hsl(0, 0%, 80%);
}

.box._v-4 {
	background: hsl(0, 0%, 73%);
}

.box._v-5 {
	background: hsl(0, 0%, 67%);
}


.box a {
	text-decoration: none;
}
