@import "slider-slide.css";
@import "slider-fade.css";
@import "slider-clip.css";
@import "slider-parallax.css";

.slider {
	background-color: #ccc;
	position: relative;
}

.slider__content {
	display: block;
	overflow-x: auto;
	padding-bottom: 80vh;
	position: relative;
}

.slider._initialized .slider__content {
	overflow: hidden;
}

.slider__content._grabbing {
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
	user-select: none;
}

.slider__content._grabbing::before {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

/* Slide */

.slider__slide {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.slider._initialized .slider__slide {
	visibility: hidden;
	z-index: -1;
}

.slider._initialized .slider__slide._prev,
.slider._initialized .slider__slide._next {
	z-index: 0;
}

.slider._initialized .slider__slide._current {
	visibility: visible;
	z-index: 1;
}

/* Controls */

.slider__ctrl {
	background-color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	display: none;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
	top: 50%;
	user-select: none;
	width: 40px;
	z-index: 2;
}

.slider._initialized .slider__ctrl {
	display: block;
}

.slider__ctrl[aria-busy=true],
.slider__ctrl[disabled] {
	color: grey;
	cursor: progress;
}

.slider__ctrl._prev {
	left: -20px;
}

.slider__ctrl._next {
	right: -20px;
}

/* Play / Pause control */

.slider__autoplay-toggle {
	background: transparent;
	border: none;
	border-radius: 5px;
}

.slider__autoplay-toggle .pause {
	stroke-width: 4;
}

.slider__autoplay-toggle .pause,
.slider__autoplay-toggle .play {
	fill: #423F3F;
	stroke: #423F3F;
	display: block;
	opacity: 1;
	transition: opacity ease 0.2s;
}

.slider__autoplay-toggle[aria-pressed=true] .pause,
.slider__autoplay-toggle[aria-pressed=false] .play {
	opacity: 0;
}

/* Pagination */

.slider__pagination {
	bottom: 5px;
	display: none;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 2;
}

.slider._initialized .slider__pagination {
	display: flex;
}

.dots {
	margin: 6px 0 6px 16px;
	display: flex;
}

.dot {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	margin-right: 16px;
	position: relative;
	color: transparent;
	background-color: #423F3F;
	transition: ease 0.4s;
	transition-property: transform, background;
}

.dot._current {
	background-color: transparent;
	transform: scale(1.2);
}

.slider._autoplay .dot._current,
.slider._paused .dot._current {
	animation: progress linear;
}

.slider._paused .dot._current {
	animation-play-state: paused;
}

.dot svg {
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: 2;
	stroke-linecap: round;
	stroke-width: 1;
	fill: transparent;
}

.dot._current .dot__progress {
	stroke: #423F3F;
}

.dot._current .dot__progress-back {
	stroke: #ccc;
}

@keyframes progress {
	from {
		stroke-dashoffset: 12.566;
	}
	to {
		stroke-dashoffset: 1;
	}
}

/* content and variations */

.box {
	align-items: center;
	color: white;
	display: flex;
	font-size: 5rem;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.box._v-1 {
	background: hsl(0, 0%, 93%);
}

.box._v-2 {
	background: hsl(0, 0%, 87%);
}

.box._v-3 {
	background: hsl(0, 0%, 80%);
}

.box._v-4 {
	background: hsl(0, 0%, 73%);
}

.box._v-5 {
	background: hsl(0, 0%, 67%);
}

.box a {
	text-decoration: none;
}

.box img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

