.slider._animation-fade._initialized .slider__slide {
	opacity: 0;
	transition: ease-in 0.7s;
	transition-property: opacity, visibility;
}

.slider._animation-fade._initialized .slider__slide._current {
	opacity: 1;
}
