<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Menus example</title>
	<link rel="stylesheet" href="css/menus.css"/>
	<script async type="module" src="../../initiator.js"></script>
</head>
<body>
	<header style="background-color: white; box-shadow: 0 0 20px rgba(0,0,0,0.5)">
		<nav class="utility-menu">
			<div class="utility-menu__inner">
				<div class="utility-menu__item">
					<button
						class="menu-bar-toggle"
						data-elem-hamburger-open
						aria-haspopup="true"
						aria-controls="main-menu"
					>
						Hamburger
					</button>
					<button
						data-component="Popup"
						id="account-menu-button"
						aria-haspopup="true"
						aria-controls="account-popup-menu"
					>
						My account
					</button>
					<div
						class="popup-menu _bottom"
						id="account-popup-menu"
						aria-labelledby="account-menu-button"
					>
						<ul role="menu" class="popup-menu__list">
							<li role="none" class="popup-menu__item">
								<a role="menuitem" href="#">Orders</a>
							</li>
							<li role="none" class="popup-menu__item">
								<a role="menuitem" href="#">Change password</a>
							</li>
						</ul>
						<div role="none" class="popup-menu__tail"></div>
					</div>
				</div>
				<div class="utility-menu__item">
					<button
						data-component="Popup"
						id="orders-menu-button"
						aria-haspopup="true"
						aria-controls="orders-popup-menu"
					>
						Orders
					</button>
					<div
						class="popup-menu _bottom"
						id="orders-popup-menu"
						aria-labelledby="orders-menu-button"
					>
						<ul role="menu" class="popup-menu__list">
							<li role="none" class="popup-menu__item">
								<a role="menuitem" href="#">Orders</a>
							</li>
							<li role="none" class="popup-menu__item">
								<a role="menuitem" href="#">Change password</a>
							</li>
						</ul>
						<div role="none" class="popup-menu__tail"></div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Main menu: MenuBar to MenuPanel -->
		<div
			id="main-menu"
			class="menu-panel"
			data-component="MainMenu"
			data-elem-menu-panel
		>
			<div class="menu-panel__box">
				<div class="menu-panel__track" data-elem-hamburger-track>
				<div class="menu-panel__panel">
					<div class="menu-panel__header">
						<button class="menu-panel__close" data-elem-panel-close>&times;</button>
					</div>
					<nav
						role="navigation"
						class="menu-bar"
						aria-label="Main menu"
						itemscope=""
						itemtype="http://www.schema.org/SiteNavigationElement"
					>
						<ul
							class="menu-bar__inner"
							data-elem-menu-bar
						>
							<li role="none" class="menu-bar__item">
								<a
									role="menuitem"
									class="menu-bar__link _level-1"
									aria-haspopup="true"
									aria-expanded="false"
									itemprop="url name"
									href="./menu-a.html"
								>
									Menu 1
								</a>
								<div
									role="none"
									class="menu-bar__popup menu-panel__content _level_1"
									data-elem-nav-flyout
								>
									<ul role="menu" class="menu-bar__popup-inner">
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												aria-haspopup="true"
												aria-expanded="false"
												href="/menu-a.html"
											>
												Menu 1-1
											</a>
											<div
												role="none"
												class="menu-bar__popup menu-panel__content _level_2"
											>
												<ul role="menu" class="menu-bar__popup-inner">
													<li role="none" class="menu-bar__submenu-item">
														<a
															role="menuitem"
															class="menu-bar__link _level-3"
															itemprop="url name"
															href="/menu-a.html"
														>
															Menu 1-1-1
														</a>
													</li>
													<li role="none" class="menu-bar__submenu-item">
														<a
															role="menuitem"
															class="menu-bar__link _level-3"
															itemprop="url name"
															href="/menu-a.html"
														>
															Menu 1-1-2
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-a.html"
											>
												Menu 1-2
											</a>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-a.html"
											>
												Menu 1-3
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li role="none" class="menu-bar__item">
								<a
									role="menuitem"
									class="menu-bar__link _level-1"
									aria-haspopup="true"
									aria-expanded="false"
									itemprop="url name"
									href="./menu-a.html"
								>
									Menu 2
								</a>
								<div
									role="none"
									class="menu-bar__popup menu-panel__content _level_1"
									data-elem-nav-flyout
								>
									<ul role="menu" class="menu-bar__popup-inner">
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-a.html"
											>
												Menu 2-1
											</a>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-a.html"
											>
												Menu 2-2
											</a>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-b-iii.html"
											>
												Menu 2-3
											</a>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-a.html"
											>
												Menu 2-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li role="none" class="menu-bar__item">
								<a
									role="menuitem"
									class="menu-bar__link _level-1"
									aria-haspopup="true"
									aria-expanded="false"
									itemprop="url name"
									href="./menu-a.html"
								>
									Menu 3
								</a>
								<div
									role="none"
									class="menu-bar__popup menu-panel__content _level_1"
									data-elem-nav-flyout
								>
									<ul role="menu" class="menu-bar__popup-inner">
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-c-i.html"
											>
												Menu 3-1
											</a>
										</li>
										<li role="none" class="menu-bar__submenu-item">
											<a
												role="menuitem"
												class="menu-bar__link _level-2"
												itemprop="url name"
												href="/menu-c-ii.html"
											>
												Menu 3-2
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li role="none" class="menu-bar__item">
								<a
									role="menuitem"
									class="menu-bar__link _level-1"
									itemprop="url name"
									href="./menu-a.html"
								>
									Menu 4
								</a>
							</li>
							<li role="none" class="menu-bar__item">
								<a
									role="menuitem"
									class="menu-bar__link _level-1"
									itemprop="url name"
									href="./menu-a.html"
								>
									Menu 5
								</a>
							</li>

							<li
								role="none"
								class="menu-bar__flyout-pane"
								data-elem-menu-flyout-pane
							></li>
						</ul>
					</nav>
				</div>
				<div class="menu-panel__panel">
					<div class="menu-panel__header">
						<button data-elem-panel-back>Back</button>
						<button class="menu-panel__close" data-elem-panel-close>&times;</button>
					</div>
					<div class="menu-panel__content" data-elem-panel-yields>
						<button data-elem-panel-forward>Forward</button>
					</div>
				</div>
				<div class="menu-panel__panel">
					<div class="menu-panel__header">
						<button data-elem-panel-back>Back</button>
						<button class="menu-panel__close" data-elem-panel-close>&times;</button>
					</div>
					<div class="menu-panel__content" data-elem-panel-yields></div>
				</div>
			</div>
			</div>
		</div>

	</header>

</body>
</html>
