.panel {
	background: white;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: -webkit-fill-available; /* get proper height with dynamic browser ui elements on iOS */
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: var(--transition);
	transition-property: transform, visibility;
	visibility: hidden;
	width: 320px;
	z-index: 3;
}

.panel.is-open {
	box-shadow: var(--depth-1);
	transform: translateX(0);
	visibility: visible;
}

.dialog-backdrop.m-grabbing .panel {
	transition: none;
	user-select: none;
}

/* panel content */

.panel__header {
	background-color: #eee;
	padding: 20px;
}

.panel__content {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.panel__content a {
	border-bottom: 1px solid;
	display: block;
	padding: 20px;
}

.panel__footer {
	background-color: #eee;
	margin-top: auto;
	padding: 20px;
}
