<html>
<head>
	<meta charset="UTF-8">
	<meta
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		name="viewport"
	>
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Forms example</title>
	<link href="css/search-combobox.css" rel="stylesheet"/>
	<link href="css/spin-button.css" rel="stylesheet"/>
	<link href="css/form.css" rel="stylesheet"/>
	<script>
		function googleApiCallback() {
			document.dispatchEvent(new Event('googleApi:ready'));
		}
	</script>
	<script async src="../../initiator.js" type="module"></script>
	<script
		async
		src="https://maps.googleapis.com/maps/api/js?key=KEY&libraries=places&callback=googleApiCallback"
	></script>
</head>
<body>

	<form
		action="/endpoint"
		data-component="./forms/FormAjax"
		method="POST"
	>
		<div data-element-form-error hidden role="alert"></div>
		<div class="field" data-elem-field>
			<select name="expectedResponse">
				<option value="formError">formError</option>
				<option value="inputErrors">inputErrors</option>
				<option value="redirectUrl">redirectUrl</option>
				<option value="notJSON">notJSON</option>
				<option value="status500">status500</option>
				<option selected value="success">success</option>
			</select>
		</div>
		<button type="submit">Submit</button>
	</form>

	<form
		action="/endpoint"
		class="form"
		data-component="./forms/FormAjax"
		method="POST"
	>
		<h2>Subscribe to our news</h2>

		<div
			class="form__error"
			data-element-form-error
			hidden
			role="alert"
		></div>

		<div class="field" data-elem-field>
			<label class="field__label" for="expected-response">
				Expected response
			</label>
			<select
				aria-describedby="expected-response-error"
				id="expected-response"
				name="expectedResponse"
				required
			>
				<option value="formError">formError</option>
				<option value="inputErrors">inputErrors</option>
				<option value="redirectUrl">redirectUrl</option>
				<option value="notJSON">notJSON</option>
				<option value="status500">status500</option>
				<option selected value="success">success</option>
			</select>
			<div
				class="field__error"
				data-elem-field-error
				hidden
				id="expected-response-error"
				role="alert"
			></div>
		</div>

		<fieldset>
			<legend>Choose your interests</legend>

			<div class="field" data-elem-field>
				<label class="checkbox">
					<input
						name="interests"
						type="checkbox"
						value="clothing"
					/>
					<span class="checkbox__label">clothing</span>
				</label>
			</div>
			<div class="field" data-elem-field>
				<label class="checkbox">
					<input
						name="interests"
						type="checkbox"
						value="shoes"
					/>
					<span class="checkbox__label">shoes</span>
				</label>
			</div>
			<div class="field" data-elem-field>
				<label class="checkbox">
					<input
						name="interests"
						type="checkbox"
						value="accessories"
					/>
					<span class="checkbox__label">accessories</span>
				</label>
			</div>
			<div class="field" data-elem-field>
				<label class="checkbox">
					<input
						id="interests-other"
						name="interests"
						type="checkbox"
						value="other"
					/>
					<span class="checkbox__label">other</span>
				</label>
				<textarea
					aria-label="Other"
					aria-describedby="interests-other-details-error"
					id="interests-other-details"
					name="other"
					minlength="3"
					data-component="./forms/InputConditional"
					data-input-depends-from='["interests-other"]'
				></textarea>
				<div
					class="field__error"
					data-elem-field-error
					hidden
					id="interests-other-details-error"
					role="alert"
				></div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Preferred contact method:</legend>

			<div class="field" data-elem-field>
				<label class="radio">
					<input
						aria-describedby="radio-set-error"
						id="contact-mail"
						name="radio-group"
						required
						type="radio"
						value="mail"
					/>
					<span class="radio__label">mail</span>
				</label>
				<label class="radio">
					<input
						aria-describedby="radio-set-error"
						id="contact-phone"
						name="radio-group"
						required
						type="radio"
						value="phone"
					/>
					<span class="radio__label">phone</span>
				</label>
				<label class="radio">
					<input
						aria-describedby="radio-set-error"
						id="contact-email"
						name="radio-group"
						required
						type="radio"
						value="email"
					/>
					<span class="radio__label">email</span>
				</label>
				<div
					class="field__error"
					data-elem-field-error
					hidden
					id="radio-set-error"
					role="alert"
				></div>
			</div>
		</fieldset>

		<div style="display:flex">
			<fieldset
				data-component="./forms/InputConditional"
				data-input-depends-from='["contact-mail"]'
			>
				<legend>Mail address</legend>

				<div class="field" data-elem-field>
					<label class="field__label" for="address">
						Address:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						id="address"
						data-component="./forms/GoogleAddresses"
						data-config='{"formElements": {"address": "#street", "country": ".postal-code-info", "city": "#city", "postal_code": "#postalcode"}}'
						autocomplete="street-address"
						type="text"
					/>
				</div>
				<div class="field" data-elem-field>
					<label class="field__label" for="street">
						Street:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="street-error"
						id="street"
						name="street"
						placeholder="Street"
						autocomplete="street-address"
						required
						type="text"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="street-error"
						role="alert"
					></div>
				</div>
				<div class="field" data-elem-field>
					<label class="field__label" for="address">
						City:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="city-error"
						id="city"
						name="city"
						placeholder="City"
						required
						autocomplete="address-level2"
						type="text"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="city-error"
						role="alert"
					></div>
				</div>
				<div class="field" data-elem-field>
					<label class="field__label" for="address">
						Country:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="postal-code-error"
						class="postal-code-info"
						data-missing-error="My custom message for error"
						name="postalCode"
						placeholder="Postal code"
						autocomplete="address-level1"
						required
						type="text"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="postal-code-error"
						role="alert"
					></div>
				</div>
				<div class="field" data-elem-field>
					<label class="field__label" for="address">
						Postal code:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="postalcode-error"
						data-error-mismatch-pattern="Switzerland ZIPs must have exactly 4 digits: e.g. CH-1950 or 1950."
						id="postalcode"
						name="postalcode"
						pattern="^(CH-)?\d{4}$"
						placeholder="Postal code"
						required
						autocomplete="postal-code"
						type="text"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="postalcode-error"
						role="alert"
					></div>
					<div class="field__caption" id="postalcode-caption">
						CH-1950 or 1950.
					</div>
				</div>
			</fieldset>

			<fieldset
				data-component="./forms/InputConditional"
				data-input-depends-from='["contact-phone"]'
			>
				<legend>Phone number</legend>

				<div class="field" data-elem-field>
					<label class="field__label" for="phone">
						Phone:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="phone-error"
						id="phone"
						name="phone"
						placeholder="Telephone"
						autocomplete="tel"
						required
						type="tel"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="phone-error"
						role="alert"
					></div>
				</div>
			</fieldset>

			<fieldset
				data-component="./forms/InputConditional"
				data-input-depends-from='["contact-email"]'
			>
				<legend>Email address</legend>

				<div class="field" data-elem-field>
					<label class="field__label" for="email">
						Email:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="email-error"
						autocapitalize="off"
						autocomplete="email"
						autocorrect="off"
						id="email"
						name="password"
						placeholder="Email"
						required
						type="email"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="email-error"
						role="alert"
					></div>
				</div>
			</fieldset>
		</div>

		<fieldset>
			<legend>Signup</legend>

			<div class="field-list">
				<div class="field" data-elem-field>
					<label class="field__label" for="password">
						Password:
						<abbr title="required" aria-label="required">*</abbr>
					</label>
					<input
						aria-describedby="password-error"
						autocapitalize="off"
						autocomplete="new-password"
						autocorrect="off"
						data-pattern-mismatch="Fields should be equal"
						id="password"
						name="password"
						placeholder="Password"
						required
						type="password"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="password-error"
						role="alert"
					></div>
				</div>
				<div class="field" data-elem-field>
					<input
						aria-describedby="password-confirm-error"
						autocapitalize="off"
						autocomplete="new-password"
						autocorrect="off"
						data-compare-with="password"
						data-component="./forms/InputsMatch"
						data-error-custom="Fields should be equal"
						id="password-confirm"
						placeholder="Confirm password"
						required
						type="password"
					/>
					<div
						class="field__error"
						data-elem-field-error
						hidden
						id="password-confirm-error"
						role="alert"
					></div>
				</div>
				<div class="field" data-elem-field>
					<button
						aria-hidden="true"
						aria-pressed="false"
						class="button-unmask"
						data-component="./forms/InputUnmask"
						data-inputs="password,password-confirm"
						data-title-pressed="Hide password"
						title="Show password"
						type="button"
					>
						<svg
							aria-hidden="true"
							fill="currentColor"
							focusable="false"
							height="24"
							viewBox="0 0 24 24"
							width="24"
						>
							<path d="M12,7c-2.48,0-4.5,2.02-4.5,4.5S9.52,16,12,16s4.5-2.02,4.5-4.5S14.48,7,12,7z M12,14.2c-1.49,0-2.7-1.21-2.7-2.7 c0-1.49,1.21-2.7,2.7-2.7s2.7,1.21,2.7,2.7C14.7,12.99,13.49,14.2,12,14.2z"></path>
							<path d="M12,4C7,4,2.73,7.11,1,11.5C2.73,15.89,7,19,12,19s9.27-3.11,11-7.5C21.27,7.11,17,4,12,4z M12,17 c-3.79,0-7.17-2.13-8.82-5.5C4.83,8.13,8.21,6,12,6s7.17,2.13,8.82,5.5C19.17,14.87,15.79,17,12,17z"></path>
							<path
								class="button-unmask__line"
								d="m21.966 20.034-20.136-16.678v0"
								fill="none"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-width="2"
							/>
						</svg>
					</button>
				</div>
			</div>
		</fieldset>

		<div class="field" data-elem-field>
			<div class="spinbutton">
				<div
					class="spinbutton__button"
					role="button"
					tabindex="-1"
				>-
				</div>
				<input
					aria-describedby="spinbutton-error"
					aria-valuemax="50"
					aria-valuemin="2"
					aria-valuenow="1"
					data-component="./forms/SpinButton"
					data-range-error="Please select 2 to 50"
					name="qty"
					required
					role="spinbutton"
					type="text"
					value="1"
				/>
				<div
					class="spinbutton__button"
					role="button"
					tabindex="-1"
				>+
				</div>
			</div>
			<div
				class="field__error"
				data-elem-field-error
				hidden
				id="spinbutton-error"
				role="alert"
			></div>
		</div>

		<div class="field" data-elem-field>
			<div class="checkbox">
				<input
					id="terms"
					name="termsSigned"
					required
					aria-describedby="terms-error"
					type="checkbox"
					value="true"
				/>
				<div class="checkbox__label">
					<label for="terms">By submitting I agreed with</label>
					<a href="#">Terms and conditions</a>
				</div>
			</div>
			<div
				class="field__error"
				data-elem-field-error
				hidden
				id="terms-error"
				role="alert"
			></div>
		</div>
		<button type="submit">Submit</button>
	</form>

	<div class="notifier" data-component="NotificationsManager"></div>
</body>
</html>
