<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Feed example</title>
	<link rel="stylesheet" href="./css/grid.css">
</head>
<body>

	<a href="">some</a>

	<br>
	<br>

	<div
		class="test"
		role="grid"
		aria-label="Presentational grid"
		data-wrap-cols="true"
		data-wrap-rows="true"
	>
		<div role="row" class="grid">
			<div role="gridcell" data-roving-tab-target>
				A
			</div>
			<div role="gridcell" data-roving-tab-target>
				B
			</div>
			<div role="gridcell" data-roving-tab-target>
				C
			</div>
			<div role="gridcell" data-roving-tab-target>
				D
			</div>
			<div role="gridcell" data-roving-tab-target>
				E
			</div>
			<div role="gridcell" data-roving-tab-target>
				F
			</div>
		</div>
		<div role="row" class="grid">
			<div role="gridcell" data-roving-tab-target>
				A
			</div>
			<div role="gridcell" data-roving-tab-target>
				B
			</div>
			<div role="gridcell" data-roving-tab-target>
				C
			</div>
			<div role="gridcell" data-roving-tab-target>
				D
			</div>
			<div role="gridcell" data-roving-tab-target>
				E
			</div>
			<div role="gridcell" data-roving-tab-target>
				F
			</div>
		</div>
		<div role="row" class="grid">
			<div role="gridcell" data-roving-tab-target>
				A
			</div>
			<div role="gridcell" data-roving-tab-target>
				B
			</div>
			<div role="gridcell" data-roving-tab-target>
				C
			</div>
			<div role="gridcell" data-roving-tab-target>
				D
			</div>
			<div role="gridcell" data-roving-tab-target>
				E
			</div>
			<div role="gridcell" data-roving-tab-target>
				F
			</div>
		</div>
	</div>

	<br>

	<nav class="b-breadcrumbs" role="navigation" aria-label="Breadcrumb">
		<div role="grid" data-loop-cols="true">
			<div
				role="row"
				class="breadcrumbs__list"
				itemscope
				itemtype="http://schema.org/BreadcrumbList"
			>
				<div
					role="gridcell"
					class="breadcrumbs__item"
					itemprop="itemListElement"
					itemscope
					itemtype="http://schema.org/ListItem"
				>
					<a
						data-roving-tab-target
						class="breadcrumbs__link"
						itemprop="item"
						href="/a"
					>
						<span itemprop="name">Home</span>
					</a>
					<meta itemprop="position" content="1">
				</div>
				<div
					role="gridcell"
					class="breadcrumbs__item"
					itemprop="itemListElement"
					itemscope
					itemtype="http://schema.org/ListItem"
				>
					<a
						data-roving-tab-target
						class="breadcrumbs__link"
						itemprop="item"
						href="/b"
					>
						<span itemprop="name">Help center</span>
					</a>
					<meta itemprop="position" content="2">
				</div>
				<div
					role="gridcell"
					class="breadcrumbs__item"
					itemprop="itemListElement"
					itemscope
					itemtype="http://schema.org/ListItem"
				>
					<a
						data-roving-tab-target
						class="breadcrumbs__link"
						itemprop="item"
						href="/c"
					>
						<span itemprop="name">General help</span>
					</a>
					<meta itemprop="position" content="3">
				</div>
				<div
					role="gridcell"
					class="breadcrumbs__item"
					itemprop="itemListElement"
					itemscope
					itemtype="http://schema.org/ListItem"
				>
					<a
						data-roving-tab-target
						class="breadcrumbs__link m-current"
						itemprop="item"
						aria-current="page"
						href="/c"
					>
	                    <span itemprop="name">
	                        Returns &amp; Exchanges
	                    </span>
					</a>
					<meta itemprop="position" content="4">
				</div>
			</div>
		</div>
		<meta itemprop="numberOfItems" content="4">
	</nav>

	<br>

	<div
		class="applied-filters"
		role="grid"
		data-wrap-cols="true"
		data-wrap-rows="true"
	>
		<div role="row" class="applied-filters__item">
			<div
				role="gridcell"
				data-roving-tab-target
			>
				Applied filter
			</div>
			<div role="gridcell">
				<button
					data-roving-tab-target
					aria-label="Remove applied filter"
				>
					&times;
				</button>
			</div>
		</div>
		<div role="row" class="applied-filters__item">
			<div
				role="gridcell"
				data-roving-tab-target
			>
				Applied filter 2
			</div>
			<div role="gridcell">
				<button
					data-roving-tab-target
					aria-label="Remove applied filter 2"
				>
					&times;
				</button>
			</div>
		</div>
	</div>

	<br>

	<a href="">other</a>

	<script type="module">
		import Grid from './Grid.js';

		document.querySelectorAll('[role="grid"]').forEach(grid => new Grid(grid).init());
	</script>
</body>
</html>
