<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>ARIA components</title>
</head>
<body>
	<h1>WAI-ARIA WCAG 2.1 AAA compatible components</h1>

	<ul>
		<li>
			<a href="./carousel/index.html">Carousels</a>
		</li>
		<li>
			<a href="./slider/index.html">Slider</a>
		</li>
	</ul>

	<hr/>
	<p>
		This software or documents includes material derived from
		<a href="https://www.w3.org/TR/wai-aria-practices/">WAI-ARIA practice</a>.
		Copyright ©2019 W3C® (<a href="http://www.lcs.mit.edu/">MIT</a>, <a href="http://www.inria.fr/">INRIA</a>, <a href="http://www.keio.ac.jp/">Keio</a>,
		<a href="https://www.ercim.eu/">ERCIM</a>, <a href="https://ev.buaa.edu.cn/">Beihang</a>).
	</p>
	<p>
		All Rights Reserved. This work is distributed under the
		<a href="http://www.w3.org/Consortium/Legal/copyright-software">W3C® Software License</a>
		in the hope that it will be useful, but WITHOUT ANY WARRANTY;
		without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
		PARTICULAR PURPOSE.
	</p>
	<p>
		Copyright © 2020, D. Nechepurenko. Published under MIT license.
	</p>

</body>
</html>
