<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Toggles example</title>
	<link rel="stylesheet" href="css/global.css"/>
<!--	<script async type="module" src="../../initiator.js"></script>-->
</head>
<body>
	<h1>Tabs</h1>
	<p>Some <a href="#some">focusable content</a> before the component</p>

	<link rel="stylesheet" href="css/tabs.css"/>

	<h2>Selection follows focus</h2>
	<div class="tabs">
		<div data-component="./toggles/Tabs" role="tablist" aria-orientation="horizontal">
			<button role="tab" aria-controls="tabpanel-1" id="tab-1">Tab 1</button>
			<button role="tab" aria-controls="tabpanel-2" tabindex="-1" id="tab-2">Tab 2</button>
			<button role="tab" aria-controls="tabpanel-3" tabindex="-1" id="tab-3">Tab 3</button>
		</div>

		<section class="tabs__panel" id="tabpanel-1" aria-hidden="false">
			<h2>Tab 1</h2>
			<p><a href="#other">Focusable content</a></p>
		</section>

		<section class="tabs__panel" id="tabpanel-2" aria-hidden="true">
			<h2>Tab 2</h2>
			<p>Some content</p>
		</section>

		<section class="tabs__panel" id="tabpanel-3" aria-hidden="true">
			<h2>Tab 3</h2>
			<p>Some content</p>
		</section>
	</div>

	<h2>Press to active / preselected 2nd tab</h2>
	<div class="tabs" >
		<div data-component="./toggles/Tabs" role="tablist" data-selection-follow-focus="false" data-preselect-tab="tab-11">
			<button role="tab" aria-controls="tabpanel-10" tabindex="-1" id="tab-10">Tab 10</button>
			<button role="tab" aria-controls="tabpanel-11" tabindex="-1" id="tab-11">Tab 11</button>
			<button role="tab" aria-controls="tabpanel-12" tabindex="-1" id="tab-12">Tab 12</button>
		</div>

		<section class="tabs__panel" id="tabpanel-10" aria-hidden="true">
			<h2>Tab 10</h2>
			<p><a href="#other">#other</a></p>
		</section>

		<section class="tabs__panel" id="tabpanel-11" aria-hidden="true">
			<h2>Tab 11</h2>
			<p>Some content</p>
		</section>

		<section class="tabs__panel" id="tabpanel-12" aria-hidden="true">
			<h2>Tab 12</h2>
			<p>Some content</p>
		</section>
	</div>

	<p>Some <a href="#some">focusable content</a> after the component</p>

	<h1>Accordion</h1>
	<link rel="stylesheet" href="css/accordion.css"/>

	<div class="accordion" data-component="./toggles/Accordion">
		<h2 class="accordion__title">
			<button class="accordion__control" aria-controls="section-1" id="section-1-control" type="button">
				Section 1 <span class="icon-chevron"></span>
			</button>
		</h2>
		<section class="accordion__content" id="section-1" aria-hidden="true" aria-labelledby="section-1-control">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<p><a href="#other">Focusable content</a></p>
			</div>
		</section>

		<h2 class="accordion__title">
			<button class="accordion__control" aria-controls="section-2" id="section-2-control" type="button">
				Section 2 <span class="icon-chevron"></span>
			</button>
		</h2>
		<section class="accordion__content" id="section-2" aria-hidden="true" aria-labelledby="section-2-control">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<p>Plain content</p>
			</div>
		</section>

		<h2 class="accordion__title">
			<button class="accordion__control" aria-controls="section-3" id="section-3-control" type="button">
				Section 3 <span class="icon-chevron"></span>
			</button>
		</h2>
		<section class="accordion__content" id="section-3" aria-hidden="true" aria-labelledby="section-3-control">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<p>Other content</p>
			</div>
		</section>
	</div>

	<h2>data-allow-multiple + data-allow-toggle</h2>
	<div class="accordion" data-component="./toggles/Accordion" data-allow-toggle data-allow-multiple>
		<button class="accordion__control" aria-controls="section-10">
			Section 10 <span class="icon-chevron"></span>
		</button>
		<section class="accordion__content" id="section-10" aria-hidden="true">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Section 10</h2>
				<p><a href="#other">Focusable content</a></p>
			</div>
		</section>

		<button class="accordion__control" aria-controls="section-11">
			Section 11 <span class="icon-chevron"></span>
		</button>
		<section class="accordion__content" id="section-11" aria-hidden="true">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Section 11</h2>
				<p>Plain content</p>
			</div>
		</section>

		<button class="accordion__control" aria-controls="section-12">
			Section 12 <span class="icon-chevron"></span>
		</button>
		<section class="accordion__content" id="section-12" aria-hidden="true">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Section 12</h2>
				<p>Some content</p>
			</div>
		</section>
	</div>

	<p>Some <a href="#some">focusable content</a> after the component</p>
	<h1>Expand</h1>
	<link rel="stylesheet" href="css/expand.css"/>

	<h2>Figure description</h2>
	<figure>
		<img src="" alt="Image placeholder" width="300" height="100" style="display: block; background-color:grey;"/>
		<figcaption>
			<p>
				This is image description
			</p>
			<button class="disclosure-control" data-component="./toggles/Expand" aria-controls="details-1">
				Show more...
			</button>
			<p class="disclosure-content" id="details-1" aria-hidden="true">
				More content here.
			</p>
		</figcaption>
	</figure>

	<h2>Toggle button</h2>
	<button
		data-component="./toggles/ExpandInput"
		aria-controls="search-panel"
		aria-label="Search"
		title="Search"
	>
		‎Search
	</button>
	<section id="search-panel" class="search-box" aria-hidden="true">
		<input type="search" />
	</section>

	<h2>Tab to accordion</h2>
	<link rel="stylesheet" href="css/pdp-details.css"/>

	<div class="pdp-details" data-component="./toggles/TabsToAccordion">
		<div class="pdp-details__tablist" data-elem-tablist data-role="tablist" aria-orientation="horizontal">
			<button class="pdp-details__tab" data-role="tab" data-aria-controls-tab="tabpanel-100" id="tab-100">Tab 1</button>
			<button class="pdp-details__tab" data-role="tab" data-aria-controls-tab="tabpanel-200" id="tab-200">Tab 2</button>
			<button class="pdp-details__tab" data-role="tab" data-aria-controls-tab="tabpanel-300" id="tab-300">Tab 3</button>
		</div>
		<button
			class="pdp-details__section-toggle"
			data-aria-controls-acc="tabpanel-100"
		>
			Section 1
			<svg aria-hidden="true" class="icon-plus" viewBox="0 0 14 14" width="14" height="14" focusable="false">
				<path class="icon-plus__line-1" fill="currentColor" d="m1.2523 5.5985c-0.705 0.021-1.26 0.667-1.24 1.441 0.019 0.742 0.563 1.34 1.24 1.361l11.464 1e-3c0.705-2e-3 1.274-0.631 1.272-1.405-2e-3 -0.77-0.57-1.394-1.272-1.396z"></path>
				<path class="icon-plus__line-2" fill="currentColor" d="m8.4015 1.2523c-0.021-0.705-0.667-1.26-1.441-1.24-0.742 0.019-1.34 0.563-1.361 1.24l-1e-3 11.464c2e-3 0.705 0.631 1.274 1.405 1.272 0.77-2e-3 1.394-0.57 1.396-1.272z"></path>
			</svg>
		</button>
		<section class="pdp-details__panel" id="tabpanel-100">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Tab 1</h2>
				<p><a href="#other">Focusable content</a></p>
			</div>
		</section>
		<button
			class="pdp-details__section-toggle"
			data-aria-controls-acc="tabpanel-200"
		>
			Section 2
			<svg aria-hidden="true" class="icon-plus" viewBox="0 0 14 14" width="14" height="14" focusable="false">
				<path class="icon-plus__line-1" fill="currentColor" d="m1.2523 5.5985c-0.705 0.021-1.26 0.667-1.24 1.441 0.019 0.742 0.563 1.34 1.24 1.361l11.464 1e-3c0.705-2e-3 1.274-0.631 1.272-1.405-2e-3 -0.77-0.57-1.394-1.272-1.396z"></path>
				<path class="icon-plus__line-2" fill="currentColor" d="m8.4015 1.2523c-0.021-0.705-0.667-1.26-1.441-1.24-0.742 0.019-1.34 0.563-1.361 1.24l-1e-3 11.464c2e-3 0.705 0.631 1.274 1.405 1.272 0.77-2e-3 1.394-0.57 1.396-1.272z"></path>
			</svg>
		</button>
		<section class="pdp-details__panel" id="tabpanel-200">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Tab 2</h2>
				<p>Plain content</p>
			</div>
		</section>
		<button
			class="pdp-details__section-toggle"
			data-aria-controls-acc="tabpanel-300"
		>
			Section 3
			<svg aria-hidden="true" class="icon-plus" viewBox="0 0 14 14" width="14" height="14" focusable="false">
				<path class="icon-plus__line-1" fill="currentColor" d="m1.2523 5.5985c-0.705 0.021-1.26 0.667-1.24 1.441 0.019 0.742 0.563 1.34 1.24 1.361l11.464 1e-3c0.705-2e-3 1.274-0.631 1.272-1.405-2e-3 -0.77-0.57-1.394-1.272-1.396z"></path>
				<path class="icon-plus__line-2" fill="currentColor" d="m8.4015 1.2523c-0.021-0.705-0.667-1.26-1.441-1.24-0.742 0.019-1.34 0.563-1.361 1.24l-1e-3 11.464c2e-3 0.705 0.631 1.274 1.405 1.272 0.77-2e-3 1.394-0.57 1.396-1.272z"></path>
			</svg>
		</button>
		<section class="pdp-details__panel" id="tabpanel-300">
			<div class="accordion__content-inner" data-elem-acc-inner>
				<h2>Tab 3</h2>
				<p>Some content</p>
			</div>
		</section>
	</div>

	<script type="module">
		import Accordion from './Accordion.js';
		import Tabs from './Tabs.js';
		import TabsToAccordion from './TabsToAccordion.js';
		import Expand from './Expand.js';
		import ExpandInput from './ExpandInput.js';

		document.querySelectorAll('[data-component="./toggles/Accordion"]').forEach(accordionGroup => new Accordion(accordionGroup).init());
		document.querySelectorAll('[data-component="./toggles/Tabs"]').forEach(tabs => new Tabs(tabs).init());
		document.querySelectorAll('[data-component="./toggles/TabsToAccordion"]').forEach(tabsToAccordion => new TabsToAccordion(tabsToAccordion).init());
		document.querySelectorAll('[data-component="./toggles/Expand"]').forEach(expand => new Expand(expand).init());
		document.querySelectorAll('[data-component="./toggles/ExpandInput"]').forEach(expandInput => new ExpandInput(expandInput).init());
	</script>
</body>
</html>
