.pdp-details {}

.pdp-details__tablist {}

.pdp-details__section-toggle {}

.pdp-details__panel {
	display: none;
}

.pdp-details__panel[aria-hidden=false] {
	display: block;
}

@media screen and (max-width: 767px){
	.pdp-details__tablist {
		display: none;
	}
	
	.pdp-details {
		border-bottom: 1px solid;
	}
	
	.pdp-details__section-toggle {
		appearance: none;
		background: lightgrey;
		border: none;
		border-top: 1px solid;
		display: flex;
		font: inherit;
		text-align: left;
		width: 100%;
		padding: 10px 0;
		font-weight: bold;
	}
	
	.pdp-details__section-toggle svg {
		margin-left: auto;
		margin-right: 10px;
	}
	
	.pdp-details__section-toggle[aria-expanded=true] .icon-plus__line-2 {
		display: none;
	}
}

@media screen and (min-width: 768px){
	.pdp-details__section-toggle {
		display: none;
	}
	
	.pdp-details__tablist {
		border-bottom: 1px solid;
		display: flex;
		position: relative;
		width: 100%;
	}
	
	.pdp-details__tab {
		appearance: none;
		background: none;
		border: none;
		border-bottom: 2px solid transparent;
		font: inherit;
		font-weight: bold;
		padding: 5px 10px;
	}
	
	.pdp-details__tab[aria-selected=true]  {
		border-color: black;
	}
}
